@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
/* Color styles */
--main--dark: rgba(45, 9, 53, 1);
--main--light: rgba(246, 250, 251, 1);
--brand--brand: rgba(83, 126, 112, 1);
--brand--dark: rgba(48, 69, 62, 1);
--brand--light: rgba(133, 160, 152, 1);
--brand--comp1: rgba(27, 152, 205, 1);
--brand--comp2: rgba(210, 52, 86, 1);
--gray--90: rgba(68, 32, 77, 1);
--gray--70: rgba(108, 80, 116, 1);
--gray--50: rgba(147, 129, 154, 1);
--gray--30: rgba(187, 177, 193, 1);
--gray--20: rgba(206, 202, 212, 1);
--gray--10: rgba(226, 226, 232, 1);
--gray--5: rgba(236, 238, 241, 1);
--danger--light: rgba(243, 204, 204, 1);
--danger--medium: rgba(235, 32, 35, 1);
--danger--dark: rgba(148, 15, 17, 1);
--warning--medium: rgba(255, 227, 28, 1);
--warning--light: rgba(246, 239, 185, 1);
--warning--dark: rgba(156, 138, 12, 1);
--success--dark: rgba(43, 130, 35, 1);
--success--medium: rgba(67, 208, 55, 1);
--success--light: rgba(192, 236, 188, 1);
--link--active: rgba(20, 17, 86, 1);
--link--link: rgba(0, 0, 0, 0.5);
--link--hover: rgba(45, 39, 169, 1);
--link--visited: rgba(110, 35, 138, 1);
--rating--discomfort: rgba(219, 81, 109, 1);
--rating--neutral: rgba(222, 208, 87, 1);
--rating--comfort: rgba(85, 208, 99, 1);
--rating--light-discomfort: rgba(237, 187, 197, 1);
--rating--dark-comfort: rgba(67, 158, 77, 1);
--rating--dark-discomfort: rgba(162, 73, 91, 1);
--rating--dark-neutral: rgba(169, 159, 75, 1);
--rating--light-comfort: rgba(174, 231, 180, 1);
--rating--light-neutral: rgba(239, 232, 178, 1);
--rating--25: rgba(221, 146, 98, 1);
--rating--75: rgba(154, 208, 93, 1);

/* Text-size styles */
--caption: 12px;
--title--h1: 4em;
--title--h2: 3em;
--title--h3: 2em;
--body--large: 3em;
--body--medium: 2.5em;
--body--small: 2em;
--link--large: 20px;
--link--medium: 16px;
--link--small: 12px;

/* || размеры паддингов */
--padding-tag-v: calc(var(--font-size-paragraph)/3);
--padding-tag-h: calc(2*var(--font-size-paragraph)/3);
--padding-button: calc(2*var(--font-size-paragraph)/3);

}


/* || стили текста */
body {
  font-family: 'Jost', sans-serif;
  background-color: var(--main--lightS);
  padding: 0 30px;
}
::selection {
  background-color: var(--color-burn);
}
:disabled {
  cursor:default !important;
}
a {
  color: var(--color-cotton);
}
a:not(.button,.tag,.cat):hover {
  color: var(--color-slush);
  cursor: pointer;
}
.tc {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
}
h1 {
  font-size: var(--title--h1);
  /*font-style: italic;*/
  font-weight: 400;
  color: var(--color-cotton);
  text-align: center;
}/*замена*/
h2 {
  font-size: var(--font-size-h2);
  font-weight: 400;
  color:var(--color-cotton);
}
h3 {
  font-size: var(--title--h3);
  font-weight: 400;
  color:var(--color-cotton);
}

p, ::placeholder {
  font-size: var(--body--medium);
  font-weight: 400;
  color:var(--color-cotton);
}

.button {
  font-size: var(--body--large);
  font-weight: 400;
  text-decoration: none;
}

.large {
  font-size: var(--body--large);
}

.medium {
  font-size: var(--body--medium);
}

.small {
  font-size: var(--body--small);
}


main {
  display: flex;
  flex-direction: column;
  gap:150px;
}


html{
  overflow-x:hidden;
  height: 100%;
}

footer {
  color: black;
  width:95%;
  padding:30px 0;
  clear:both;
  bottom:0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-chooser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-scale {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}



/* || строка ввода */
input{ 
  padding: var(--padding-tag-h) var(--font-size-paragraph);
  color: var(--color-cotton);
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  background-color: var(--color-abyss);
}

input.attention-prima{
  border: 1px solid var(--color-mint);
  outline: var(--color-mint);;
}

input.attention-sec{
  border-top: 1px solid var(--color-nettle);
  border-bottom: 1px solid var(--color-nettle);
  border-left:none;
  border-right:none;
  background-color: var(--color-pine);
  outline: var(--color-mint);;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: var(--color-nettle);
 
  font-weight: 200;
}

label.up {
  margin-top:-20px;
}

label.down {
  margin-bottom:-20px;
}


input:hover {
  background-color: var(--color-bergamot);
}

input:disabled {
  background-color: var(--color-forecast);
  border: 1px solid var(--color-slush);
}

input::placeholder {
  color:var(--color-nettle);
}

/* || стили кнопок */
.button {
  border-radius: 16px;
  color: var(--main--dark);
  padding: 0.5em;
  display:flex;
  width:fit-content;
  cursor:pointer;
}
.button.attention-prima {
  background-color: var(--brand--brand);
   color: var(--main--light);
  border: none;
}
.button.attention-sec {
  background-color: var(--color-mint);
  border: none;
  color: var(--brand--brand);
}
.button.attention-tertia {
  background-color: var(--color-abyss);
  border-color: var(--color-nettle);
  border: none;
  color: var(--brand--brand);
}
.button.attention-prima:hover {
  background-color: var(--color-cedar);
}
.button.attention-sec:hover {
  background-color: var(--color-pine);
}
.button.attention-tertia:hover {
  border-color: var(--color-mint);
}
.button.attention-prima:active {
  background-color: var(--color-pits);
}
.button.attention-sec:active {
  background-color: var(--color-bergamot);
}
.button.attention-tertia:active {
  border-color: var(--color-pine);
}
.button.attention-prima:disabled {
  background-color: var(--color-forecast);
}
.button.attention-sec:disabled {
  background-color: var(--color-slush);
}
.button.attention-tertia:disabled {
  border-color: var(--color-slush);
}
.hidden{
  display: none !important;
}
.invisible{
  visibility: hidden !important;
}
.button:not(.icon) > ion-icon {
  margin-left: 0;
  margin-right: 5px;
}
.button.icon {
  background-color: transparent;
  border:transparent;
  color:var(--main--dark);
  font-size: 1.5em;
  padding: 0 0;

}
.button.icon:hover{
  color:var(--color-slush);
  
}
.button.icon:active{
  color:var(--color-forecast);
  
}
.button.icon:disabled{
  color:var(--color-slush);
  
}

.button.icon.attention-s{
  color:var(--color-slush);
  
}
.button.icon.attention-s:hover{
  color:var(--color-forecast);
}
.button.icon.attention-s:active{
  color:var(--color-pits);
}
.button.icon.attention-s:disabled{
  color:var(--color-forecast);
}

.button.child {
  color: var(--brand--brand);
  background-color: var(--main--light);
  border: solid;
  border-color: var(--brand--brand);
  border-width: 5px;
}

.button img {
  height:1.5em;
  width: 1.5em;
}


.rating-scale .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}

.rating-scale .b5 {
  border: 5px solid var(--rating--dark-comfort); /* Параметры рамки */
    background-color: var(--main--light); /* Цвет фона */
    color: var(--rating--dark-comfort);
}

.rating-scale .b4 {
  border: 5px solid #769F4C; /* Параметры рамки */
    background-color: var(--main--light); /* Цвет фона */
    color: #769F4C;
}
.rating-scale .b3 {
  border: 5px solid var(--rating--dark-neutral); /* Параметры рамки */
    background-color: var(--main--light); /* Цвет фона */
    color: var(--rating--dark-neutral);
}
.rating-scale .b2 {
  border: 5px solid #A67453; /* Параметры рамки */
    background-color: var(--main--light); /* Цвет фона */
    color: #A67453;
}
.rating-scale .b1 {
  border: 5px solid var(--rating--dark-discomfort); /* Параметры рамки */
    background-color: var(--main--light); /* Цвет фона */
    color: var(--rating--dark-discomfort);
}


/* || стили скролл-баров */
::-webkit-scrollbar {
  width: 12px;             
}
::-webkit-scrollbar-track {
  background: var(--color-abyss);        
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-mint);    
  border: 3px solid var(--color-abyss);  
}

input[type="checkbox"],[type="range"] {
  accent-color: var(--color-persimmon);
}



/* || меню хэдера */
header {
  overflow: hidden;
  padding: 20px 5px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
}

header h1 {
  line-height: 0;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


textarea {
  width: 700px;
  height: 400px;
  border: solid 3px gray;
}


/* || диалог создание тегов */

form{
  margin-bottom: 20px;
}


label {
  display: block;
}





.parent {
    width: 100%;
    height:160px;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}

.child {
    display: inline-block;
    vertical-align: top;
}

#more {
  display: none;
  flex-direction: column;
  align-items: center;

}


#b4,#b3,#b2 {
  display:none;
}
